/** styles.css */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
header nav ul li {
    list-style-type: none;
}

section {
    padding: 20px;
}

/** Big Quote Styles */
#big-quote blockquote {
    font-size: 2em;
    text-align: center;
    margin: 50px auto;
}

/** Profile Section Styles */
#profile .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.profile-image img {
    width: 150px;
    height: auto;
    border-radius: 5%;
}

.profile-text {
    max-width: 50%;
}